.detail-hero{
    height: 100vh;
    position: relative;
    /* width: 100vw; */
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}
.detail-hero__text{
    width: 85%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    
}
.detail-hero__bg{
    z-index: -100;
    width: 100%;
    height: 100%;

}
.detail-hero__bg__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.detail-overlay {
    background: linear-gradient(to top, #000, transparent 90%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
}
.detail-hero__title{
    margin-top: 48px;
    margin-bottom: 24px;
    color: #fff;
    font-weight: 900;
    font-size: 72px;
}
.detail-hero__content span{
    color: #ffffffa6;
    font-size: 16px;

}
.detail-hero__link{
    color: #ffffffa6;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
}
.detail-hero__link:hover{
    color: #ffc107;
}
.fa-comment-alt{
    margin-right: 8px;
}

/* NAV BAR */
.detail-nav__container{
    background-color: #f8f9fa;
    position: relative;
    bottom: 76px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 1.6rem 4.8rem rgba(0,0,0,.175)!important;
}
.detail-nav{
    z-index: 9;
    right: 0;
    left: 0;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid black; */
    padding: 0 12px;
    
}
.detail-nav-logo a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffc107;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1.6rem;
    white-space: nowrap;
}
.detail-nav-toggle{
    display: none;
}
.detail-nav-menu__list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.detail-nav-menu__link{
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #717275;
    font-weight: 700;
    display: block;
    transform: translateY(-3px);
    transition: 0.5s;
}
.detail-nav-menu__link:hover{
    color: #000;
}
.detail-nav-menu__link:after{
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 9px;
    background-color: #ffc107;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;

}
.detail-sticky{
    position: fixed;
    top:0;
    width: 100%;
    height: 76px;
    z-index: 9;
} 
.detail-nav-menu__link:hover:after{
    transform: translateY(0px);
    opacity: 1;
}

.news-detail__container{
    padding-top: 112px;
    padding-bottom: 112px;
    
}
.newscontainer{
    max-width: 1320px;
    margin: 0 auto;
}
.news-detail{
    width: 66.6667%;
    margin: 0 auto;
    padding: 0 12px;
    font-family: 'Noto Sans JP', sans-serif;

}
.news-detail h2{
    font-size: 42px;
    color: #000;
    font-weight: 800;
    margin-bottom: 16px;
}
.news-detail__content{
    color: #717275;
    margin: 0 24px 16px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
.content-img{
    width: 100%;
    flex-wrap: wrap;
}
.content-img .news-detail__img{
    margin-bottom: 16px;
    margin-left: 16px;
    width: 50%;
    display: block;
    float: right;
}   
.content-img .news-detail__img img{
    width: 100%;
}
.content-img .news-detail__img span{
    color: #717275;
    font-size: 14px;
    float: right;
}

.news-detail__social{
    margin-top: 48px;
    display: flex;
}
.news-detail__social span{
    color: #212529;
    margin-right: 24px;
}
.news-detail__list{
    list-style-type: none;
    display: flex;
}
.news-detail__link{
    color: #717275;
    margin-right: 20px;
}
.news-detail__link:hover{
    color: #ffc107;
}
.related-news__container{
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: #f9f9f9;
}

.related-news{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1320px;
    margin: 0 auto;
}
.related-news span{
    color: #212529;
    font-size: 16px;
    text-align: center;
    display: block;
}
.related-news h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 36px;
}
.news-title-link{
    text-decoration: none;
    color: #565758;
    transition: .5s;    
}
.news-title-link:hover{
    color: #000;
}
/* RESPONSIVE */
@media (max-width: 1400px) {
    .newscontainer, .related-news, .detail-nav{
        max-width: 1140px;
    }
}
@media (max-width: 1200px) {
    .detail-nav, .newscontainer, .related-news{
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .newscontainer{
        max-width: 720px;
    }
    .detail-hero__title{
        margin-top: 48px;
        margin-bottom: 24px;
        color: #fff;
        font-weight: 900;
        font-size: 48px;
    }

    /* detail-NAV BAR */
    .detail-nav{
        max-width: 720px;
        display: block;
    }
    .detail-logo-toggle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* TOGGLE */
    .detail-nav-toggle{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 35px;
        transition: all .5s ease-in-out;
    }
    .detail-nav-toggle__icon{
        width: 100%;
        height: 2px;
        background: #000;
        border-radius: 1px;
        transition: all .5s ease-in-out;
    }
    .detail-nav-toggle__icon::after, .detail-nav-toggle__icon::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        border-radius: 1px;
        transition: all .5s ease-in-out;
    }
    .detail-nav-toggle__icon::after{
        transform: translateY(8px);
    }
    .detail-nav-toggle__icon::before{
        transform: translateY(-8px);
    }
    .detail-nav-toggle.open .detail-nav-toggle__icon{
        transform: translateX(-30px);
        background: transparent;
        
    }
    .detail-nav-toggle.open .detail-nav-toggle__icon::before{
        transform: rotate(45deg) translate(25px, -25px);        
    }
    .detail-nav-toggle.open .detail-nav-toggle__icon::after{
        transform: rotate(-45deg) translate(25px, 25px);        
    }
    .detail-hero{
        height: 44vh;
    }
    .detail-hero__title{
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .news-detail{
        width: 83.33333%;
        margin: 0 auto;
        padding: 0 12px;
        font-family: 'Noto Sans JP', sans-serif;
    
    }
    .news-detail h2{
        font-size: 36px;
    }
    .detail-nav__container{
        bottom: 0;
        position: relative;
    }
    
    .detail-nav-menu__list{
        display: none;
        position: absolute;
        background-color: #f8f9fa;
        transform: translateY(15px);
        width: 100%;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    .detail-nav-active{
        display: block;
        
    }
    .detail-nav-menu__item{
        margin-left: calc((100% - 720px)/2);
    }
    .detail-sticky{
        position: fixed;
    }
}
@media (max-width: 768px){
    .detail-nav, .newscontainer, .related-news{
        max-width: 540px;
    }
    .content-img .news-detail__img{
        margin-bottom: 16px;
        margin-left: 0px;
        width: 100%;
        display: block;
        float: left;
    } 
    .detail-nav-menu__item{
        margin-left: calc((100% - 540px)/2);
    }
    .detail-hero__title{
        font-size: 36px;
    }
}