.map
  iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d117513.97425682955!2d-43.385296!3d-23.012325!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdb695cd967b7%3A0x171cdd035a6a9d84!2sAv.%20L%C3%BAcio%20Costa%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%20Brazil!5e0!3m2!1sen!2sus!4v1637725843772!5m2!1sen!2sus' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
.footer__container
  .footer
    .footer__title
      i.fas.fa-map-marker-alt
      | State of Rio de Janeiro, Brazil
    .footer__email
      a(href='#') info@company.com
    .detail__social
      p.footer__detail
        | Copyright © Nomad Force 2021
        br
        br
        | Design: 
        a(href='#') TemplateMo
      .footer__social
        ul.social__list
          li.social__item
            a(href='#')
              i.fab.fa-facebook
          li.social__item
            a(href='#')
              i.fab.fa-twitter
          li.social__item
            a(href='')
              i.fab.fa-whatsapp
          li.social__item
            a(href='')
              i.fab.fa-instagram
          li.social__item
            a(href='')
              i.fab.fa-youtube
