.news__container
  .news
    h2(data-aos='fade-up') News &amp; Events
    .news__content
      .news__content--left(data-aos='fade-up')
        .news__img__cat
          a.news__img__link.news__img__hover.hover--yellow(href='./news-detail.html')
            img.news__img(src='./images/dentist.jpg' alt='')
          .news-category.yellow News
        .news__info
          h5.news__title
            a.news__title__link(href='./news-detail.html')
              | The rise of the gig economy spells the end for these
              | workers
              | the old system
          .news__times 22 hours ago
      .news__content--right
        .news__content--top(data-aos='fade-up')
          .news__img__cat
            a.news__img__link.news__img__hover.hover--blue(href='./news-detail.html')
              img.news__img(src='./images/bathroom.jpeg' alt='')
            .news-category.blue Events
          .news__info
            h5.news__title
              a.news__title__link(href='./news-detail.html') Job Opportunities: Digital, Marketing
            .news__times
              i.fas.fa-map-marker-alt
              |  Alaska, August 6, 2021
        .news__content--bottom(data-aos='fade-up')
          .news__img__cat
            a.news__img__link.news__img__hover.hover--green(href='./news-detail.html')
              img.news__img(src='./images/mac.jpeg' alt='')
            .news-category.green News
          .news__info
            h5.news__title
              a.news__title__link(href='./news-detail.html') What happened to new viral video?
            .news__times 6 days ago
